<ion-app>


    <ion-split-pane contentId="menu-content">
        <ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay">

            <ion-content>
                <ion-list id="inbox-list">
                    <img src="https://pbs.twimg.com/profile_images/1251035222881251328/V2QSTc24_400x400.jpg">
                    <ion-list-header>Martín Báez</ion-list-header>
                    <ion-note>maallopezba@ittepic.edu.mx</ion-note>

                    <ion-menu-toggle auto-hide="false">
                        <ion-item [routerLink]="['/']">
                            <ion-icon name="home"></ion-icon>
                            <ion-label>Inicio</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item [routerLink]="['/cart']">
                            <ion-icon name="cart"></ion-icon>
                            <ion-label>Carrito</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item [routerLink]="['/new-product']">
                            <ion-icon name="add"></ion-icon>
                            <ion-label>Crear producto</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>


        </ion-menu>
        <ion-router-outlet id="menu-content"></ion-router-outlet>
    </ion-split-pane>


</ion-app>